body {
  padding-top: 0rem;
}

.starter-template {
  padding: 3rem 1.5rem;
}

.tabulator-print-header,
tabulator-print-footer {
  text-align: center;
}

.tabulator
.tabulator-footer {
  background-color: #212529
}

.tabulator
.tabulator-header {
  background-color: #212529
}


  
